__pycache__/
*.py[cod]
*.root
*.log
*.out
*.err
logs/
cms_driver_run/logs/
cms_driver_run/condor_*_jobs.txt
cms_driver_run/cms_nanoAODv15_*_generated.jdl
cms_driver_run/miniAOD*_chunk*.txt
crab_run/generated/
crab_run/crab_projects/
CMSSW_*/
*.tar.gz
.DS_Store
